@define-mixin container {
  width: 280px;
  margin: 0 auto;
  @media ($tablet-width) {
    width: 620px;
  }
  @media ($desktop-width) {
    width: 940px;
  }
}

@define-mixin title $color: $color-text {
  margin: 0;
  font-size: $font-size-lg;
  font-weight: lighter;
  line-height: 1.2em;
  color: $color;

  @media ($tablet-width) {
    font-size: 40px;
    line-height: 48px;
  }
  @media ($desktop-width) {
    font-size: 50px;
  }
}

@define-mixin text $color: $color-text {
  margin: 0;
  font-size: $font-size-sm;
  font-weight: normal;
  color: $color;
  line-height: 1.7em;

  @media ($desktop-width) {
    font-size: $font-size-md;
  }
}

@define-mixin heading $color: $black{
  margin: 0;
  font-size: $font-size-md;
  font-weight: bold;
  color: $color;
  line-height: 1em;
}

@define-mixin form-text $color: $color-text {
  margin: 0;
  font-size: $font-size-md;
  font-weight: normal;
  color: $color;
}
@define-mixin link {
  text-decoration: none;
}

@define-mixin legend {
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: $pink;
  max-width: 50%;

  @media ($tablet-width) {
    padding: 0 20px;
    background-color: $white;
    top: -10px;
  }
}
