/* Media Queries*/

  $mobile-width: (max-width: 320px);
  $tablet-width: (min-width: 700px);
  $desktop-width: (min-width: 1200px);
  $retina-mobile: (min-resolution: 144dpi);
  $retina-tablet: (($tablet-width) and (min-resolution: 144dpi));
  $retina-desktop: (($desktop-width) and (min-resolution: 144dpi));

/* Colors */

  $white: #ffffff;
  $black: #000000;
  $pink: #d22856;
  $light-grey: #f2f2f2;
  $dark-grey-blue: #283645;
  $light-gray-blue: #e9ebec;
  $very-light-gray: #e5e5e5;

  $color-text: $dark-grey-blue;
  $color-border: $very-light-gray;

/* Fonts */

  $font-family: "Open sans", Arial, Helvetica, sans-serif;
  $font-size-sm: 14px;
  $font-size-md: 18px;
  $font-size-lg: 24px;

/* со временем удалю*/
  $border-color: #e9ebec;
  $border-color2: #e5e5e5;
  $dark-grey: #283645;
  $font-size-text: 14px;
