.checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;

  &__indicator{
    position: absolute;
    top: -5px;
    left: -70px;
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    border: 2px solid $color-border;
    background-color: $white;

    @media ($tablet-width) {
      left: -59px;
    }
  }

  &:checked ~ .checkbox__indicator {
      background: $white url(../img/icon-yes-pink.svg) 50% 48% no-repeat;
  }
}
