.copyright {
  display: flex;
  align-items: center;
  width: 130px;
  position: relative;

  @media ($desktop-width) {
    width: 155px;
  }

  &__text {
    font-size: $font-size-sm;
    margin-right: 15px;
    vertical-align:middle;

    @media ($desktop-width) {
      font-size: $font-size-md;
    }
  }

  &__link {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 40px;
    font: 0/0 a;
    color: transparent;
    background: url(../img/logo-htmlacademy.svg) no-repeat center;

    @media ($tablet-width) {
      vertical-align: bottom;
    }
  }
}
