.fieldset-textarea {
  padding: 93px 0 0;

  &__wrap {
    width: 280px;
    padding: 0 20px;
    margin: 0 auto;
  }

  &__title {
    @mixin legend;

    &--hide {
      display: none;
    }
  }

  @media ($tablet-width) {
    order:5;
    border: 2px solid $border-color2;
    border-radius: 2px;
    padding: 45px 0 45px;

    &__title {
      max-width: 30%;

      &--hide {
        display: block;
      }
    }

    &__wrap {
      width: auto;
      margin: 0;
      padding: 0 60px;
    }

    @media ($desktop-width) {
      min-height: 170px;
      width: 940px;

      &__title {
        max-width: 20%;
      }
    }
  }
}
