.fieldset-checkbox{
  background-color: $light-grey;
  padding: 35px 0 56px;

  &__title {
    @mixin legend;
    max-width: 70%;
  }

  &__options {
    width: 280px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 82px;
  }

  &__option {
    position: relative;
    padding-left: 70px;
    margin-bottom: 56px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media ($tablet-width) {
    order:4;
    background-color: transparent;
    border: 2px solid $border-color2;
    border-radius: 2px;
    padding: 65px 0 0;

    &__options {
      width: auto;
      margin: 0;
      padding-left: 60px;
    }

    &__title {
      max-width: 65%;
    }
  }
  @media ($desktop-width) {
    min-height: 185px;
    width: 940px;
    padding: 55px 0 0;

    &__title {

    }

    &__options {
      margin-top: 50px;
      display: flex;
      padding:0 60px;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0;
    }

    &__option {
      width: 25%;
      padding-left: 60px;
    }
  }
}
