.fieldset-checkbox{
  background-color: $light-grey;
  padding: 35px 0 56px;

  @media ($tablet-width) {
    order:4;
    background-color: transparent;
    border: 2px solid $color-border;
    border-radius: 2px;
    padding: 50px 0 55px;
    margin-bottom: 56px;
  }

  @media ($desktop-width) {
    width: 940px;
    padding: 49px 0 62px;
    margin-bottom: 58px;
  }

  &__title {
    @mixin legend;
    max-width: 70%;

    @media ($tablet-width) {
      max-width: 65%;
    }
  }

  &__options {
    width: 280px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 82px;

    @media ($tablet-width) {
      width: auto;
      margin: 0;
      padding-left: 60px;
    }

    @media ($desktop-width) {
      margin-top: 50px;
      display: flex;
      padding: 0 58px;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0;
    }
  }

  &__option {
    position: relative;
    padding-left: 70px;
    margin-bottom: 56px;

    @media ($tablet-width) {
      padding-left: 58px;
    }

    @media ($desktop-width) {
      width: 25%;
      padding-left: 60px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-last-child(-n+3) {

      @media ($desktop-width) {
        margin-bottom: 0;
      }
    }
  }
}
