.fieldset {
  position: relative;
  margin: 0;
  border: none;
  padding: 30px 20px 16px;

  &--name {
    background-color: rgba(232, 57, 0, 0.2);
    min-height: 300px;
  }

  &--checkbox {
    background-color: rgba(111, 0, 255, 0.2);
    min-height: 563px;
  }

  &--contacts {
    background-color: rgba(0, 232, 217, 0.2);
    min-height: 250px;
  }

  &--radio {
    background-color: rgba(84, 255, 0, 0.2);
    min-height: 290px;
  }

  &--textarea {
    background-color: rgba(255, 235, 0, 0.2);
    min-height: 265px;
  }

  &__item {
    min-height: 115px;
  }

  &__title {
    position: absolute;
  }

  &__options {
    padding-left: 70px;
    margin-top: 90px;
  }

  &__option {
    min-height: 80px;
  }

  @media ($tablet-width) {
    width: 100%;
    padding: 30px 0 16px;
    margin-bottom: 70px;

    &--name {
      order:1;
      margin-bottom: 0;
    }

    &--checkbox {
      order:4;
      min-height: 500px;
    }

    &--contacts {
      order:3;
      min-height: 260px;
    }

    &--radio {
      min-height: 250px;
      order:2;
    }

    &--textarea {
      order:5;
      min-height: 250px;
      padding-left: 55px;
      padding-right: 55px;
    }

    &__item {
      display: flex;
    }

    &__options {
      padding-left: 120px;
      margin-top: 0;
    }

    &__title {
      top: -10px;
      left: 25%;
    }
  }

  @media ($desktop-width) {
    margin-bottom: 60px;
    padding: 50px 60px 0;

    &--name {
      width: 436px;
      min-height: 295px;
      padding: 0;
      margin-bottom: 60px;
    }

    &--checkbox {
      min-height: 185px;
    }

    &--contacts {
      min-height: 115px;
    }

    &--radio {
      width: 436px;
      height: auto;
      padding: 0;
    }

    &--textarea {
      min-height: 170px;
    }

    &__options {
      margin-top: 50px;

      &--checkbox {
        display: flex;
        padding:0;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
      }
    }

    &__option {
      width: 25%;
      padding-left: 60px;
    }

    &__item {
      min-height: 65px;
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }

      &--half {
        width: 374px;
        margin: 0;
        flex-wrap: wrap;
      }
    }

    &__wrap {
      display: flex;
      justify-content: space-between;
    }
  }
}
