.form {

  &__header {
    padding: 45px 20px 22px;

    &--photo {
    padding: 20px 20px 40px;
    }
  }

  &__btn {
    display: block;
    height: 65px;
    width: 280px;
    margin: 0 auto 40px;
  }

  &__required {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;

    &-pink {
      color: $pink;
    }
  }

  &__text {
    @mixin text;
    text-align: center;
    line-height: 30px;

    &-hide {
      display: none;
    }
  }

  @media ($tablet-width) {

    &--photo{
      width: auto;
      margin: 0;
    }

    &__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 620px;
      margin: 0 auto 50px;
    }

    &__header {
      padding: 90px 70px 31px;

      &--photo{
      padding: 42px 20px 70px;
      }
    }

    &__text{
      font-size: 18px;

      &-hide{
        display: inline;
      }
    }

    &__btn {
      margin: 0;
    }
  }

  @media ($desktop-width) {

    &__wrap {
      width: 940px;
      justify-content: space-between;
    }

    &__header {
      padding: 90px 70px 75px;

      &--photo{
      padding: 4px 20px 70px;
      }
    }

    &--radio{
      padding: 15px 0;
    }
  }
}
