.info {

  &__header {
    background-color: #fff;
    text-align: center;
    padding: 40px 40px 30px;
  }

  &__title {
    @mixin title;
    line-height: 28px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__list {
    background: url("../img/bg-triangle-white.svg"),
    url("../img/iphone-screen-mobile.png");
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-position: top left, 50% 110%;
    background-size: contain, auto;
    padding-top: 68px;
    padding-bottom: 299px;
  }


  @media ($tablet-width) {
    height: 1100px;

    &__header {
      padding: 49px 40px 45px;
    }

    &__list {
      background-image: none;
      padding-left: 329px;
      padding-right: 30px;
      padding-top: 61px;
      padding-bottom: 0;
    }
    
    &__title{
      margin-bottom: 0;
    }
  }

  @media ($desktop-width) {
    height: 1313px;
    padding-bottom: 50px;

    &__header {
      height: 260px;
    }

    &__list {
      display: flex;
      min-height: 120px;
      padding: 360px 130px 0;
    }
  }
}
