.label-checkbox {
  @mixin form-text;

  &:before {
    position: absolute;
    top: -5px;
    left: 0;
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    border: 2px solid #e5e5e5;
    background-color: $white;
  }
}

.checkbox:checked + .label-checkbox:before {
    background: $white url(../img/icon-yes-pink.svg) 50% 48% no-repeat;
}
