.label {
  @mixin text $pink;
  margin-left: 23px;
  margin-bottom: 8px;
  display: block;
  text-transform: uppercase;

  @media ($tablet-width) {
    margin-left: 0;
    margin-right: 18px;
    margin-bottom: 0;
    &--down{
      order: 2;
      margin-left: 20px;
      margin-top: 14px;
    }
  }

  @media ($desktop-width) {
    font-size: 14px;
    &--down{
     order: 2;
    }
  }
}
