.logo {
  width: 80px;
  height: 30px;

  &--full{
    width: 150px;
  }

  &__icon {

    &--full {
      display: none;
    }
  }

  @media ($tablet-width) {
    height: 50px;
    width: 150px;

    &__icon {
      fill: #fff;

      &--short {
        display: none;
      }

      &--full {
        display: block;
      }
    }
  }

  @media ($desktop-width) {

  }
}
