.logo {
  width: 80px;
  height: 30px;
  cursor: auto;


  @media ($tablet-width) {
    height: 50px;
    width: 150px;
  }



  &--full {
    width: 150px;
  }

  &__image {
    &:hover .logo__icon--hover path {
      fill: $pink;
    }
    &:active {
      opacity: 0.3;
    }
  }

  &__icon {

    @media ($tablet-width) {
    }

    &--short{
      transform: translate(-72px, -17px);

      @media($tablet-width) {
        transform: translate(0px, 0px);
      }
    }

    &--full {
      display: none;

      @media ($tablet-width) {
        display: block;
      }
    }
  }
}
