.main-menu {

  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 1;

    @media ($tablet-width) {
      top: 110px;
    }

    @media ($desktop-width) {
      position: static;
      display: flex;
      height: auto;
      align-items: center;
      margin-left: auto;
      transform: translateX(20px);
    }

    &--hide {
      display: none;
    }
  }

  &__item{

    @media ($tablet-width) {
      height: auto;
    }

    @media ($desktop-width) {
      margin-right: 40px;
    }

    &:last-child{

      @media ($desktop-width) {
        margin-right: 0;
      }
    }
  }

  &__link {
    display: block;
    padding: 15px 0 15px;
    text-align: center;
    cursor: pointer;
    background-color: #283645;
    border-top: 1px solid #485461;
    border-bottom: 1px solid #000;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    line-height: 32px;

    @media ($desktop-width) {
      line-height: 54px;
      background-color: transparent;
      border: none;
      font-weight: normal;
      font-size: 18px;
      text-transform: none;
      line-height: normal;
      padding: 15px 20px 15px;
    }

    &:hover {
      color: $hover;
    }
  }

  &__btn {
    display: block;
    margin-left: auto;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;

    @media ($desktop-width) {
      display: none;
    }

    &-hamburger {

      &--hide {
        display: none;
      }
    }

    &-cross {
      display: none;

      &--show {
        display: block;
      }
    }
  }
}
