.main-menu {
  background-color: rgba(171, 12, 232, 0.2);

  &__list {
    background-color: rgba(255, 242, 0, 0.2);
    position: absolute;
    top: 69px;
    left: 0;
    width: 100%;
    height: 257px;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 1;
  }

  &__item {
    height: 63px;
    text-align: center;
    cursor: pointer;
  }

  &__link {
    line-height: 63px;
  }

  &__btn {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 60px;
    height: 30px;
    border: none;
    padding: 0;
    background-color: transparent;
    background-color: rgba(255, 242, 0, 0.3);
  }

  @media ($tablet-width) {

    &__list {
      top: 110px;
    }

    &__item {
      height: auto;
    }

    &__btn {
      background-color: rgba(115, 0, 255, 0.2);
      top: 40px;
      right: 40px;
    }
  }

  @media ($desktop-width) {
    margin-left: auto;

    &__list {
      position: static;
      display: flex;
      height: auto;
      justify-content:space-between;
      width: 623px;
      align-items: center;
    }

    &__link {
      line-height: 54px;
    }

    &__btn {
      display: none;
    }
  }
}
