.map {

  height: 203px;
  z-index: 3;

  &:before{
    position: absolute;
    top: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 80px;
    content: "";
    background: url("../img/bg-triangle-white-footer.svg") no-repeat;
    background-size: 100%;
    z-index: 2;

    @media ($tablet-width) {
      height: 150px;
    }
  }

  @media ($tablet-width) {
    height: 383px;
  }

  @media ($desktop-width) {
    width: 1400px;
    height: 503px;
    margin: 0 auto;
  }
}
