.page-header {
  position: relative;
  min-height: 237px;
  background-color: #2c3c4c;

  &--main {
    height: 730px;
  }

  &__logo {
    position: absolute;
    top: 21px;
    left: 6.25%;
  }

  &__title {
    @mixin title $white;
    text-align: center;
    margin-top: 27px;
    line-height: 29px;
  }

  &__intro {
    display: none;
  }

  &__install {
    position:absolute;
    bottom: 0;
    left: 0;
  }

  @media ($tablet-width) {
    min-height: 441px;

    &--main {
      height: 728px;
    }

    &__logo {
      top: 26px;
      left: 5.7%;
    }

    &__wrap {
      height: 83px;
      padding: 27px 40px 0;
    }

    &__title {
      font-size: 50px;
      line-height: 59px;
      margin-top: 72px;
    }

    &__intro {
      margin-top: 93px;
      display: block;
      margin-left: 90px;
      margin-bottom: 19px;
    }

    &__install {
      position: static;
      margin-left: 40px;
    }
  }

  @media ($desktop-width) {
    min-height: 394px;

    &--main {
    height: 853px;
    }

    &__logo {
      left: 130px;
    }

    &__wrap {
      display: flex;
      height: 54px;
      padding: 28px 130px 28px;
    }
    &__title {
      margin-top: 65px;
    }

    &__intro {
      margin-top: 150px;
      margin-left: 160px;
    }

    &__install {
      position: static;
      margin-left: 130px;
    }
  }
}
