h1, h2, h3, p{
  margin: 0;
}

.page {
  min-width: 320px;
  margin: 0;
  font-family: "Open sans";

  @media ($tablet-width) {
    min-width: 700px;
  }

  @media ($desktop-width) {
    min-width: 1200px;
  }
}
