.page-footer {
  height: 235px;
  padding: 38px 0 20px;

  &--hide {
    display: none;
  }

  &__logo {
    margin: 0 auto 51px;
  }

  &__social {
    margin: 0 auto 40px;
  }

  &__copyright {
    margin: 0 auto;
  }

  @media ($tablet-width) {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 126px;
    padding: 0 40px;

    &__logo {
      margin: 0;
    }
    &__social {
      margin: 0;
    }
    &__copyright {
      margin: 0;
    }
  }

  @media ($desktop-width) {
    height: 226px;
    padding: 12px 130px 0;
  }
}
