.page-header {
  background-image: url(../img/bg-back-mobile.jpg);
  background-color: #2c3c4c;
  background-repeat: no-repeat;
  background-position: center top;

  @media ($retina-mobile) {
    background-image: url(../img/bg-back-mobile@2x.jpg);
    background-size: 700px auto;
  }

  @media ($tablet-width) {
    background-image: url(../img/bg-back-tablet@1x.jpg);
    background-repeat: no-repeat;
    background-position: center top;
  }

  @media ($retina-tablet) {
    background-image: url(../img/bg-back-tablet@2x.jpg);
    background-size: 1200px auto;
  }

  @media ($desktop-width) {
    background: url(../img/bg-back-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 2560px;
  }
  @media ($retina-desktop) {
    background-image: url(../img/bg-back-desktop.jpg);
    background-size: 2560px;

  }


  &--main {
    background: url(../img/iphone-hand-mobile.png),
                url(../img/bg-back-mobile.jpg);
    background-color: #2c3c4c;
    background-repeat: no-repeat;
    background-position: 0 174px, center top;

    @media ($retina-mobile) {
        background: url(../img/iphone-hand-mobile@2x.png),
                    url(../img/bg-back-mobile@2x.jpg);
        background-position: 0 174px, center top;
        background-repeat: no-repeat;
        background-size: 258px auto, 700px auto;
    }

    @media ($tablet-width) {
      background: url(../img/iphone-hand-tablet@1x.png),
                  url(../img/bg-back-tablet@1x.jpg);
      background-repeat: no-repeat;
      background-position: 0 bottom, center top;
    }

    @media ($retina-tablet) {
      background: url(../img/iphone-hand-tablet@2x.png),
                 url(../img/bg-back-tablet@2x.jpg);
      background-position: 0 174px, center top;
      background-repeat: no-repeat;
      background-size: 700px auto, 1200px auto;
    }

    @media ($desktop-width) {
      background: url(../img/iphone-hand-desktop@1x.png),
                  url(../img/bg-back-desktop.jpg);
      background-repeat: no-repeat;
      background-position: 97% bottom, center top;
    }
    @media ($retina-desktop) {
      background: url(../img/iphone-hand-desktop@2x.png),
                 url(../img/bg-back-desktop.jpg);
      background-repeat: no-repeat;
      background-position: 97% bottom, center top;
      background-size: 1050px auto, 2560px auto;
    }
  }

  &__menu{
    background-color: rgba(0, 0, 0, 0.3);

    &--open {
      background-color: $color-text;
      box-shadow: inset 0 -2px 0 -1px $black;

      @media ($desktop-width) {
        box-shadow: none;
      }
    }
  }

  &__menu-wrap{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 21px 6.25% 19px;

    @media ($tablet-width) {
      padding: 44px 5.7% 33px;
    }
    @media ($desktop-width) {
      padding: 26px 0 29px;
      width: 940px;
      margin: 0 auto;
    }
  }

  &__logo {
    @media ($tablet-width) {
      margin-top: -17px;
    }
    @media ($desktop-width) {
      margin-top: 0;
    }
  }

  &__title {
    @mixin title $white;
    text-align: center;

    @media ($tablet-width) {
      font-size: 50px;
      line-height: 1.2em;
      margin-top: 0;
    }

    @media ($desktop-width) {
      margin-top: 0;
    }

    &--main{
      display: none;

      @media ($tablet-width) {
        width: 240px;
        font-size: 40px;
        margin-top: 0;
        display: block;
        margin-bottom: 33px;
        padding: 0 30px;
        line-height: 1.2;
      }

      @media ($desktop-width) {
        width: 300px;
        margin-top: 0;
        margin-bottom: 53px;
        padding: 0;
      }
    }
  }

  &__intro {
    min-height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media ($tablet-width) {
      width: 640px;
      margin: 0 auto;
      padding-top: 69px;
      padding-bottom: 80px;

    }

    @media ($desktop-width) {
      width: 940px;
      padding-top: 61px;
      padding-bottom: 102px;
    }

    &--main {
      padding-bottom: 0;
      padding-top: 387px;
      display: block;

      @media ($tablet-width) {
        width: 620px;
        margin: 0 auto;
        padding-top: 92px;
        padding-bottom: 90px;
      }

      @media ($desktop-width) {
        width: 940px;
        padding-top: 107px;
        padding-bottom: 90px;
      }
    }
  }

  &__install {


    @media ($tablet-width) {
      position: static;
    }
  }
}
