.photo {

  &__text {
    @mixin text;
    line-height: 30px;
  }

  &__posts {
    @mixin container;
  }

  &__header {
    padding: 46px 35px 43px;
    min-height: 95px;
    text-align: center;
  }


  @media ($tablet-width) {

    &__posts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__text{
      line-height: 30px;
      font-size: 18px;
    }

    &__header {
      padding: 90px 70px 43px;
    }
  }

  @media ($desktop-width){
    
    &__header{
      padding: 92px 300px 55px;
    }
  }
}
