.photo-tools {
   list-style: none;
   margin: 0 auto;
   padding: 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 200px;
   position: relative;

   &__icon {

     $--active path {
       fill: $pink;
     }

     &:hover path {
       fill: #8d949b;
     }
   }

   @media ($tablet-width) {
     display: block;
     width: auto;
     margin-top: -17px;

     &__item {
       display: flex;
       align-items: center;
       height: 70px;
       border-bottom: 1px solid #dddfe0;
       width: 270px;
     }

     &__icon {
       transform: scale(0.5);
       width: 50px;
     }
   }

   @media ($desktop-width) {

     &__icon {
       transform: scale(1);
     }

     &__item {
       width: 410px;
     }
   }
}
