.post {
  background-color: rgba(111, 0, 255, 0.2);
  margin-bottom: 24px;
  padding: 0 15px 20px;

  &--day {
    margin: 0 20px 24px;
  }

  &__image {
    background-color: rgba(0, 232, 217, 0.2);
    display: block;
    min-height: 183px;
    margin: 0 -15px 15px;

    &--day {
      min-height: 138px;
      margin: 0 -35px 15px;
    }
  }

  @media ($tablet-width) {
    width: 240px;
    padding: 0 30px 30px;

    &--day {
      width: auto;
      margin: 0 40px 20px;
    }

    &__image {
      min-height: 300px;
      margin: 0 -30px 30px;

      &--day {
        min-height: 510px;
        margin: 0 -70px;
      }
    }
  }
}
