.prices {
  background: $light-grey url("../img/bg-triangle-white.svg") no-repeat;
  background-size: contain;
  padding: 100px 0  47px;
  overflow-x: hidden;

  &__list {
    margin-bottom: 40px;
    display: flex;
    width: 874px;
    padding: 0 20px;
    transform: translateX(-278px);
  }

  &__indicators {
    @mixin indicators;
  }

  @media ($tablet-width) {
    padding: 94px 40px 68px;

    &__list {
      width: 620px;
      margin-bottom: 0;
      padding: 0;
      transform: translateX(0);
      margin: 0 auto;
    }

    &__indicators {
      display: none;
    }
  }

  @media ($desktop-width) {
    padding: 150px 130px 95px;
  }
}
