.review {
  margin: 0;
  text-align: center;

  &__author {
    @mixin heading;
    margin-bottom: 19px;

    & cite{
      font-style: normal;
    }
  }

  &__prof {
    display: none;
  }

  &__text {
    @mixin text;
    line-height: 2.15em;

    @media ($tablet-width){
      line-height: 1.7em;
    }
    @media ($tablet-width){
      margin-bottom: 15px;
    }
  }

  @media ($tablet-width) {
    display: flex;
    flex-wrap: wrap;

    &__text {
      font-size: 18px;
      margin-bottom: 29px;
    }

    &__author {
      font-size: 20px;
      order: 2;
      width: 100%;
      line-height: 40px;
    }

    &__prof {
      display: block;
      line-height: 40px;
      @mixin text;
    }
  }

  @media ($desktop-width) {
    min-height: 220px;

    &__author {
      font-size: 24px;
    }

    &__text{
      margin-bottom: 10px;

      &-hide{
        display: none;
      }
    }
  }
}

.carousel-cell {
  width: 100%; /* full width */
  height: 160px; /* height of carousel */
  margin-right: 10px;
}
