.reviews {
  padding: 44px 20px 30px;

  &__list {
    margin-bottom: 35px;
  }

  &__indicators {
    @mixin indicators;
  }

  @media ($tablet-width) {
    padding: 60px 40px 10px;
    min-height: 200px;
  }

  @media ($desktop-width) {
    padding: 170px 130px 22px;

    &__indicators {
      display: none;
    }

    &__list {
      margin-bottom: 0;
    }
  }
}
