.social-link {
  font: 0/0 a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 3px solid $border-color;
  margin-right: 10px;

  &:last-child{
    margin-right: 0;
  }
}
