.upload-photo {
  background-color: $light-grey;
  margin: 0;
  padding: 20px;
  border: none;

  &__image {
    background-color: #8092bb;
    display: block;
    width: 280px;
    height: 375px;
    margin: 0 auto 40px;
  }

  &__tools {
    margin-bottom: 69px;
    position: relative;
  }

  &__buttons {
    margin: 0 -20px;
    border-top: 2px solid #dddfe0;
    padding: 37px 20px 10px;
  }

  &__btn {
    margin: 0 auto;
    margin-bottom: 12px;
  }

  @media ($tablet-width) {
    padding: 56px 40px 15px;
    width: 620px;
    margin: 0 auto;

    &__wrap {
      display: flex;
      justify-content: space-between;
    }

    &__image {
      width: 300px;
      height: 400px;
      margin: 0;
    }

    &__tools {
      margin-bottom: 70px;
    }

    &__buttons {
      margin: 0;
      padding: 0;
      border: none;
    }

    &__btn {
      margin: 0;
      margin-bottom: 25px;
    }
  }

  @media ($desktop-width) {
     padding: 55px 60px 35px 80px;
     width: 810px;

     &__buttons {
       display: flex;
       justify-content: space-between;
     }

     &__tools {
       margin-bottom: 147px;
     }
  }
}
