.btn {
  display: inline-block;
  padding: 15px 36px 17px;
  border: 2px solid $white;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  @mixin heading $white;

  &:hover {
    background-color: $white;
    color: $pink;
  }

  &:active {
    background-color: $white;
    color: rgba(210, 40, 86, 0.3);
  }

  &:focus {
    outline: none;
  }

  &--grey {
    border-color: #dddfe0;
    color: #dddfe0;
    background-color: transparent;

    &:hover {
      border-color: #b5b9be;
      color: #dddfe0;
      background-color: transparent;
    }

    &:active {
      background-color: #b5b9be;
      color: #ccced2;
      opacity: 0.3;
    }
  }

  &--pink {
    color: $pink;
    border: 2px solid $pink;
    background-color: transparent;

    &:hover {
      background-color: $pink;
      color: $white;
    }

    &:active {
      background-color: $pink;
      color: $white;
      opacity: 0.3;
    }
  }

  &--green {
    background-color: #2aab6d;
    color: $white;
    border: none;

    &:hover {
      background-color: #1c9b5e;
      color: $white;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--square {
    border-radius: 2px;
  }
}
