.checkbox {
  position: relative;
  opacity: 0;
  width: 37px;
  height: 37px;
  margin-right: 32px;

  @media ($tablet-width) {
    margin-right: 22px;
  }

  &:hover + .checkbox__indicator{
    border-color: $color-text;
  }

  &:active + .checkbox__indicator{
    border-color: $pink;
  }

  &:disabled + .checkbox__indicator{
    opacity: 0.3;
  }

  &:checked ~ .checkbox__indicator {
      background: $white url(../img/icon-yes-pink.svg) 50% 48% no-repeat;
  }

  &__indicator{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    border: 2px solid $color-border;
    background-color: $white;

    @media ($tablet-width) {
      left: 0;
    }
  }
}
