.contacts {

  &__wrap{
    padding: 44px 0 20px;
    width: 280px;
    margin: 0 auto;

    @media ($tablet-width) {
      padding: 45px 0 0;
      width: 620px;
      margin: 0 auto;
    }

    @media ($desktop-width) {
      width: 940px;
      margin: 0 auto;
      padding-top: 62px;
    }
  }

  &__list {
    min-height: 260px;
    text-align: center;

    @media ($tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      min-height: 210px;
      margin-top: 46px;
    }

    @media ($desktop-width) {
      min-height: 120px;
    }
  }

  &__title {
    @mixin title;
    text-align: center;
    margin-bottom: 38px;

    @media ($tablet-width) {
      min-height: 90px;
      margin-bottom: 35px;
    }

    @media ($desktop-width) {
      line-height: 1.2;
      margin-bottom: 60px;
    }
  }

  &__item {
    margin: 0;
    margin-bottom: 20px;

    @media ($tablet-width) {
      width: 50%;
      text-align: center;
    }

    @media ($desktop-width) {
      width: 33.334%;
    }

    &--email{

      @media ($desktop-width) {
        order: 2;
      }
    }
  }

  &__heading {
    @mixin heading $color-text;
  }

  &__link {
    color: $pink;
    font-weight: lighter;
    font-size: $font-size-lg;
    text-decoration: none;

    &--email:hover {
      color: $color-text;
      text-decoration: underline;
    }
    &--email:active {
      color: rgba(40, 54, 69, 0.3);
      text-decoration: none;
    }
  }
}
