.copyright {
  display: flex;
  align-items: center;
  vertical-align:middle;
  width: 130px;
  position: relative;

  @media ($desktop-width) {
    width: 155px;
  }

  &__text {
    font-size: $font-size-sm;
    vertical-align:middle;

    @media ($desktop-width) {
      font-size: $font-size-md;
    }
  }

  &__link {
    display: inline-block;
    vertical-align: middle;
    font: 0/0 a;
    color: transparent;
    margin-left: 10px;

  }
  &__image{

    &:hover > .copyright__icon{
      fill: $dark-grey;
    }
    &:active > .copyright__icon{
      fill: $dark-grey;
      opacity: 0.3;
    }
  }
}
