.fieldset-radio {
  background-color: $light-grey;
  padding: 32px 0 49px;

  @media ($tablet-width) {
    order:2;
    background-color: transparent;
    border: 2px solid $color-border;
    border-radius: 2px;
    padding: 56px 0 63px;
    margin-bottom: 65px;
  }

  @media ($desktop-width) {
    width: 432px;
    height: auto;
    padding: 62px 0 60px;
    margin-bottom: 64px;
    align-self: flex-end;
  }

  &__title {
    @mixin legend;
    max-width: 80%;

    @media ($tablet-width) {
      max-width: 55%;
    }

    @media ($desktop-width) {
      max-width: 80%;
    }
  }

  &__title--hide {
    display: none;

    @media ($tablet-width) {
      display: block;
    }
  }

  &__options {
    width: 280px;
    margin: 0 auto;
    margin-top: 82px;
    padding-left: 20px;

    @media ($tablet-width) {
      width: auto;
      margin: 0;
      padding-left: 58px;
    }

    @media ($desktop-width) {
      padding-left: 75px;
    }
  }

  &__option {
    position: relative;
    padding-left: 60px;
    margin-bottom: 48px;

    @media ($tablet-width) {
      padding-left: 60px;
      margin-bottom: 49px;
    }

    @media ($desktop-width) {
      width: 70%;
      padding-left: 60px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
