.fieldset-checkbox{
  background-color: $light-grey;
  padding: 35px 0 50px;

  @media ($tablet-width) {
    order:4;
    background-color: transparent;
    border: 2px solid $color-border;
    border-radius: 2px;
    padding: 52px 0 50px;
    margin-bottom: 65px;
  }

  @media ($desktop-width) {
    width: 940px;
    padding: 52px 0 56px;
    margin-bottom: 65px;
  }

  &__title {
    @mixin legend;
    max-width: 70%;

    @media ($tablet-width) {
      max-width: 65%;
    }
  }

  &__options {
    width: 280px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 77px;

    @media ($tablet-width) {
      width: auto;
      margin: 0;
      padding-left: 58px;
      padding-right: 0; 
    }

    @media ($desktop-width) {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 120px;

    }
  }

  &__option {
    padding-left: 0;
    margin-bottom: 45px;

    @media ($tablet-width) {
      padding-left: 0;
    }

    @media ($desktop-width) {
      min-width: 190px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__option:nth-last-child(odd) {

    @media ($desktop-width) {
      margin-bottom: 0;
    }
  }
}
