.fieldset-textarea {
  padding: 93px 6.25% 46px;

  @media ($tablet-width) {
    order:5;
    border: 2px solid $color-border;
    border-radius: 2px;
    padding: 45px 0 51px;
    margin-bottom: 66px;
  }

  @media ($desktop-width) {
    width: 940px;
    padding: 42px 0 43px;
    margin-bottom: 65px;
  }

  &__wrap {

    @media ($tablet-width) {
      width: auto;
      margin: 0;
      padding: 0 60px;
    }
  }

  &__title {
    @mixin legend;
    top: 59px;

    @media ($tablet-width) {
       max-width: auto;
    }

    @media ($desktop-width) {
      max-width: 20%;
    }
  }

  &__title--hide {
    display: none;

    @media ($tablet-width) {
       display: block;
    }
  }
}
