.fieldset-name {
  padding: 15px 6.25% 45px;

  @media ($tablet-width) {
    order:1;
    margin-bottom: 54px;
    padding: 42px 0 13px;
  }

  @media ($desktop-width) {
    width: 436px;
    min-height: 295px;
    padding: 0;
    margin-bottom: 65px;
    align-self: flex-end;
  }

  &__item {
    margin-bottom: 21px;

    @media ($tablet-width) {
      display: flex;
      align-items: center;
      margin-bottom: 53px;
    }

    @media ($desktop-width) {
      min-height: 65px;
      margin-bottom: 50px;
    }
  }

  &__item:last-child {
    margin-bottom: 0;

    @media ($desktop-width) {
      margin-bottom: 0;
    }
  }

  &__wrap {

    @media ($tablet-width) {
      width: auto;
      margin: 0;
    }
  }
}
