.form {

  @media ($tablet-width) {
    margin-bottom: 48px;
  }

  @media ($desktop-width) {
    margin-bottom: 0;
  }

  &--photo{

    @media ($tablet-width) {
      margin-bottom: 0;
    }
  }

  &__wrap{

    @media ($tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 620px;
      margin: 0 auto 0;
    }

    @media ($desktop-width) {
      width: 940px;
      justify-content: space-between;
    }
  }

  &__header {
    padding: 45px 20px 24px;

    @media ($tablet-width) {
      padding: 93px 40px 29px;
    }

    @media ($desktop-width) {
      padding: 92px 70px 81px;
    }
  }

  &__header--photo {
    padding: 21px 20px 44px;

    @media ($tablet-width) {
      padding: 46px 20px 70px;
    }

    @media ($desktop-width) {
      padding: 60px 20px 67px;
    }
  }

  &__btn {
    display: block;
    height: 65px;
    min-width: 280px;
    margin: 0 auto 40px;
    text-transform: uppercase;

    @media ($tablet-width) {
      min-width: 300px;
      margin: 0;
    }

    @media ($desktop-width) {
      min-width: 300px;
    }
  }

  &__required {
    text-align: center;
    text-transform: uppercase;

    @media ($tablet-width) {
      margin-bottom: 0;
    }

    @media ($desktop-width) {
      font-size: 14px;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &__required--hide {
    display: none;

    @media ($desktop-width) {
      display: inline;
    }
  }

  &__required--pink {
    color: $pink;
  }

  &__text {
    @mixin text;
    text-align: center;
    line-height: 2.1em;

    @media ($tablet-width) {
      font-size: $font-size-md;
      line-height: 1.65em;
    }
  }

  &__text--hide {
    display: none;

    @media ($tablet-width) {
      display: inline;
    }
  }
}
