.intro {

  &__title {
    @mixin title $white;
    line-height: 48px;
  }

  @media ($tablet-width) {
    width: 200px;
    min-height: 157px;
    text-align: center;
    color: #fff;
  }

  @media ($desktop-width) {
    min-height: 180px;
    margin-left: 140px;
    margin-bottom: 50px;
    width: 300px;
  }
}
