.logo {
  width: 80px;
  height: 30px;
  cursor: pointer;

  @media ($tablet-width) {
    height: 50px;
    width: 150px;
  }

  &--full {
    width: 150px;
  }

  &:hover .logo__icon path {
    fill: $pink;
  }

  &:active .logo__icon path {
    fill: $white;
    opacity: 0.3;
  }

  &--hover:active .logo__icon path {
    fill: $color-text;
  }

  &--hover:active .logo__icon {
    opacity: 0.3;
  }

  &__image {

    &:hover .logo__icon path {
      fill: $pink;
    }

    &:active .logo__icon path{
      fill: $white;
      opacity: 0.3;
    }
  }

  &__icon--short{
    transform: translate(-72px, -17px);

    @media($tablet-width) {
      transform: translate(0px, 0px);
    }
  }

  &__icon--full {
    display: none;

    @media ($tablet-width) {
      display: block;
    }
  }

  &__icon--stars {
    display: none;

    @media ($desktop-width) {
      display: block;
    }
  }
}
