.main-menu {

  &__list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 1;

    @media ($tablet-width) {
      top: 110px;
    }

    @media ($desktop-width) {
      position: static;
      display: flex;
      height: auto;
      align-items: center;
      margin-left: auto;
      transform: translateX(20px);
    }
  }

  &__list--hide {
    display: none;
  }

  &__list--open{
    position: absolute;
    top: 100%;
    left: 0;
  }

  &__item{

    @media ($tablet-width) {
      height: auto;
    }

    @media ($desktop-width) {
      margin-right: 40px;
    }
  }

  &__item:last-child{

    @media ($desktop-width) {
      margin-right: 0;
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: 15px 0 15px;
    text-align: center;
    cursor: pointer;
    background-color: #283645;
    border-top: 1px solid #485461;
    border-bottom: 1px solid #000;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    line-height: 32px;

    @media ($desktop-width) {
      line-height: 54px;
      background-color: transparent;
      border: none;
      font-weight: normal;
      font-size: 18px;
      text-transform: none;
      line-height: normal;
      padding: 15px 20px 15px;
    }
  }

  &__link:hover {
    color: $pink;

    @media ($desktop-width) {
      color: $white;
    }
  }

  &__link:active {
    color: rgba(210, 40, 86, 0.3);

    @media ($desktop-width) {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &__link:hover::after {

    @media ($desktop-width) {
      position: absolute;
      bottom: 0;
      content: "";
      display: block;
      height: 1px;
      background-color: $white;
      width: 100%;
      left: 0;
      transform: scale(0.75);
    }
  }

  &__link:active::after {

    @media ($desktop-width) {
      display: none;
    }
  }

  &__btn {
    display: block;
    margin-left: auto;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;

    @media ($desktop-width) {
      display: none;
    }

    &:focus {
      outline: none;
    }

    &:hover path {
      fill: $pink;
    }

    &:active path {
      opacity: 0.3;
    }
  }
}
