.page-header {
  background-image: url(../img/bg-back-mobile.jpg);
  background-color: #2c3c4c;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 700px auto;

  @media ($retina-mobile) {
    background-image: url(../img/bg-back-mobile@2x.jpg);
    background-color: #2c3c4c;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 700px auto;
  }

  @media ($tablet-width) {
    background-image: url(../img/bg-back-tablet@1x.jpg);
    background-color: #2c3c4c;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1200px auto;
  }

  @media ($retina-tablet) {
    background-image: url(../img/bg-back-tablet@2x.jpg);
    background-color: #2c3c4c;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1200px auto;
  }

  @media ($desktop-width) {
    background: url(../img/bg-back-desktop.jpg);
    background-color: #2c3c4c;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 2560px;
  }

  @media ($retina-desktop) {
    background-image: url(../img/bg-back-desktop.jpg);
    background-color: #2c3c4c;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 2560px;
  }

  &--main {
    background: url(../img/iphone-hand-mobile.png),
                url(../img/bg-back-mobile.jpg);
    background-color: #2c3c4c;
    background-repeat: no-repeat;
    background-position: center 173px, center top;
    background-size: 258px auto, 700px auto;

    @media ($retina-mobile) {
        background: url(../img/iphone-hand-mobile@2x.png),
                    url(../img/bg-back-mobile@2x.jpg);
        background-color: #2c3c4c;
        background-position: center 173px, center top;
        background-repeat: no-repeat;
        background-size: 258px auto, 700px auto;
    }

    @media ($tablet-width) {
      background: url(../img/iphone-hand-tablet@1x.png),
                  url(../img/bg-back-tablet@1x.jpg);
      background-color: #2c3c4c;
      background-repeat: no-repeat;
      background-position: right bottom, center top;
      background-size: 700px auto, 1200px auto;
    }

    @media ($retina-tablet) {
      background: url(../img/iphone-hand-tablet@2x.png),
                 url(../img/bg-back-tablet@2x.jpg);
      background-color: #2c3c4c;
      background-position: right bottom, center top;
      background-repeat: no-repeat;
      background-size: 700px auto, 1200px auto;
    }

    @media ($desktop-width) {
      background: url(../img/iphone-hand-desktop@1x.png),
                  url(../img/bg-back-desktop.jpg);
      background-color: #2c3c4c;
      background-repeat: no-repeat;
      background-position: right bottom, center top;
      background-size: 1050px auto, 2560px auto;
    }
    @media ($retina-desktop) {
      background: url(../img/iphone-hand-desktop@2x.png),
                 url(../img/bg-back-desktop.jpg);
      background-color: #2c3c4c;
      background-repeat: no-repeat;
      background-position: right bottom, center top;
      background-size: 1050px auto, 2560px auto;
    }
  }

  &--main--open{
    background-position: center 426px, center 256px;
  }

  &__menu{
    background-color: rgba(0, 0, 0, 0.3);
  }

  &__menu-wrap{
    position: relative;

    @media ($desktop-width) {
      padding: 26px 0 29px;
      width: 940px;
      margin: 0 auto;
    }
  }

  &__menu-inner {
    display: flex;
    justify-content: space-between;
    padding: 21px 6.25% 15px;

    @media ($tablet-width) {
      padding: 44px 5.7% 33px;
    }

    &--open {
      background-color: $color-text;
      box-shadow: inset 0 -2px 0 -1px $black;

      @media ($desktop-width) {
        background-color: rgba(0, 0, 0, 0.3);
        box-shadow: none;
      }
    }

  }

  &__logo {

    @media ($tablet-width) {
      margin-top: -17px;
    }

    @media ($desktop-width) {
      margin-top: 0;
    }
  }

  &__title {
    @mixin title $white;
    text-align: center;

    @media ($tablet-width) {
      font-size: 50px;
      line-height: 1.2em;
      margin-top: 0;
    }

    @media ($desktop-width) {
      margin-top: 0;
    }
  }

  &__title--main{

    @media ($tablet-width) {
      width: 240px;
      font-size: 40px;
      margin-top: 0;
      display: block;
      margin-bottom: 33px;
      padding: 0 30px;
      line-height: 1.2;
    }

    @media ($desktop-width) {
      width: 300px;
      margin-top: 0;
      margin-bottom: 53px;
      padding: 0;
    }
  }

  &__intro {
    min-height: 110px;
    padding-top: 31px;
    padding-bottom: 30px;


    @media ($tablet-width) {
      width: 640px;
      min-height: 191px;
      margin: 0 auto;
      padding-top: 69px;
      padding-bottom: 70px;

    }

    @media ($desktop-width) {
      width: 940px;
      min-height: 119px;
      padding-top: 61px;
      padding-bottom: 102px;
    }
  }

  &__intro--main {
    padding-bottom: 0;
    padding-top: 26px;
    min-height: 635px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media ($tablet-width) {
      width: 620px;
      margin: 0 auto;
      padding-top: 92px;
      padding-bottom: 109px;
    }

    @media ($desktop-width) {
      width: 940px;
      padding-top: 107px;
      padding-bottom: 120px;
    }
  }

  &__install {

    @media ($tablet-width) {
      position: static;
    }
  }
}
