.page-footer {

  &--hide {
    display: none;

    @media ($tablet-width) {
      display: block;
    }
  }

  &__wrap{
    padding: 38px 0 45px;

    @media ($tablet-width) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0;
      margin: 0 5.7%;
    }

    @media ($desktop-width) {
      width: 940px;
      margin: 0 auto;
      padding: 60px 0 70px;
    }
  }

  &__logo {
    width: 150px;
    height: 50px;
    margin: 0 auto 35px;

    @media ($tablet-width) {
      margin: 0;
    }
  }

  &__social {
    margin: 0 auto 20px;

    @media ($tablet-width) {
      margin: 0;
    }
  }

  &__copyright {
    margin: 0 auto;

    @media ($tablet-width) {
      margin: 0;
    }
  }
}
