.page {
  min-width: 320px;
  margin: 0;
  font-family: $font-family;
  font-size: $font-size-sm;
  color: $color-text;

  @media ($tablet-width) {
    min-width: 700px;
  }

  @media ($desktop-width) {
    min-width: 1200px;
    max-width: 1400px;
    margin: 0 auto;
  }
}
