.photo {



  &__text {
    @mixin text;
    line-height: 2.2em;

    @media ($tablet-width) {
      line-height: 30px;
      font-size: $font-size-md;
    }
  }

  &__posts {
    @mixin container;

    @media ($tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__header {
    padding: 46px 35px 43px;
    min-height: 95px;
    text-align: center;

    @media ($tablet-width) {
      padding: 90px 70px 43px;
    }

    @media ($desktop-width){
      padding: 92px 300px 55px;
    }
  }
}
