.post {
  display: flex;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  flex-direction: column;

  @media ($tablet-width) {
    width: 300px;
    margin: 0;
    margin-bottom: 29px;
  }

  @media ($desktop-width) {
    margin-bottom: 55px;
  }

  &--day {
    position: relative;
    width: 320px;
    margin: 0 auto 20px;

    @media ($tablet-width) {
      width: 700px;
      margin: 0 auto;
      margin-bottom: 50px;
    }

    @media ($desktop-width) {
      width: 1200px;
      margin: 0 auto;
      margin-bottom: 51px;

    }
  }

  &--day::before {
    position:absolute;
    display: block;
    top: 0;
    right: 20px;
    width: 140px;
    height: 36px;
    content: "Панорама дня";
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 36px;
    background-color: $pink;
    color: $white;

    @media ($tablet-width) {
      top: 56px;
      right: 40px;
    }

    @media ($desktop-width) {
      right: 130px;
    }
  }

  &__image {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__image img {
    background-color: $light-grey;
    vertical-align: middle;
  }

  &__inner {
    display: flex;
    padding: 18px;
    padding-bottom: 23px;
    flex-direction: column;
    background-color: $light-grey;

    @media ($tablet-width) {
      padding: 24px 27px 17px;
    }

    @media ($desktop-width) {
      padding: 24px 27px 26px;
    }
  }

  &__inner--day {
    margin: 0 20px;

    @media ($tablet-width) {
      margin: 0 40px;
      padding: 24px 27px 17px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

    }

    @media ($desktop-width) {
      margin: 0 130px;
      padding: 24px 27px 23px;
    }
  }

  &__author-name {
    @mixin text;
    font-weight: bold;

    @media ($desktop-width) {
      font-size: $font-size-sm;
    }
  }

  &__time {
    font-size: 12px;
    font-weight: lighter;
    text-transform: uppercase;
  }

  &__text {
    @mixin text;
    margin-bottom: 13px;

    @media ($tablet-width) {
      margin-bottom: 0;
      min-height: 4.5em;
    }

    @media ($desktop-width) {
      font-size: $font-size-sm;
    }
  }

  &__text--day {

    @media ($tablet-width) {
      order: 2;
      min-height: 4em;
    }

    @media ($desktop-width) {
      min-height: 1.2em;
    }
  }

  &__like {
    bottom: 23px;
    font-size: 12px;
    color: $pink;
    text-transform: uppercase;
    margin: 0;

    @media ($tablet-width) {
      margin-left: 0;
      bottom: 26px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  &__like--day {

    @media ($tablet-width) {
      top: 536px;
      right: 59px;
      line-height: 1.7em;
    }

    @media ($desktop-width) {
      top: 534px;
      right: 61px;
    }
  }

  &__like-link {
    color: $pink;
    vertical-align: middle;
    text-decoration: none;
    margin-right: 20px;

    @media ($tablet-width){
      margin-right: 5px;
    }
  }

  &__like-link--day {

    @media ($tablet-width){
      margin-left: 20px;
      margin-right: 0;
    }
  }
}
