.prices {
  background: $light-grey url("../img/bg-triangle-white.svg") -5px 0 no-repeat;
  background-size: 100%;

  &__wrap{
    padding-top: 92px;
    padding-bottom: 98px;

    @media ($tablet-width) {
      display: flex;
      width: 620px;
      margin: 0 auto;
      padding: 89px 0 68px;
    }

    @media ($desktop-width) {
      width: 940px;
      margin: 0 auto;
      padding: 151px 0 95px;
    }
  }

  &__list {

    @media ($tablet-width) {
      display: flex;
    }
  }

  & .flickity-prev-next-button {
    display: none;
  }
    /* position dots in carousel */
  & .flickity-page-dots {
    bottom: -52px;
  }
  /* white circles */
  & .flickity-page-dots .dot {
    width: 6px;
    height: 6px;
    margin: 0 9px;
    opacity: 1;
    background: #bec2c7;
    vertical-align: middle;

    &:hover {
      background-color: #868e97;
    }

    &:active {
      background-color: #e9ebec;
    }
  }
  /* fill-in selected dot */
  & .flickity-page-dots .dot.is-selected {
    border: 3px solid $color-text;
    background: white;
  }
  & .carousel-cell {
    width: 282px;
    height: auto; /* height of carousel */
    margin-right: 0;
  }

  & .carousel-cell--freejs{
    margin: 0 auto 20px;

    @media ($tablet-width) {
      width: 153px;
      margin: 0;
    }

    @media ($desktop-width) {
      width: 233px;
    }
  }

  & .carousel-cell--freejs:last-child {
    margin-bottom: 0;
  }
}
