.reviews {

  &__wrap{
    width: 280px;
    margin: 0 auto;
    padding: 48px 0 58px;

    @media ($tablet-width) {
      width: 620px;
      margin: 0 auto;
      padding: 62px 0 25px;
    }

    @media ($desktop-width) {
      width: 940px;
      margin: 0 auto;
      padding: 70px 0 5px;
    }
  }

  &__list {
    margin-bottom: 27px;

    @media ($tablet-width) {
      margin: 0;
      padding-bottom: 24px;
    }

    @media ($desktop-width) {
      padding: 112px 120px 0;
      background: url(../img/icon-quotes.svg) top center no-repeat;
    }
  }

  & .flickity-prev-next-button {
    display: none;

    @media ($desktop-width) {
      display: block;
    }

    &.next {
      fill: #bec2c7;

      @media ($desktop-width) {
        right: -10px;
      }

      &:hover path {
        fill: #969da4;
      }

      &:active path {
        fill: $light-gray-blue;
      }

      & svg {
        width: 100px;
        height: 100px;
        left: -65px;
        top: -63px;
      }
    }

    &.previous {
      fill: #bec2c7;

      @media ($desktop-width) {
        left: -10px;
      }

      &:hover path {
        fill: #969da4;
      }

      &:active path {
        fill: $light-gray-blue;
      }

      & svg {
        width: 100px;
        height: 100px;
        left: 10px;
        top: -4px;
      }
    }

    & .arrow {
      fill: #bec2c7;
    }
  }
    /* position dots in carousel */
  & .flickity-page-dots {
    bottom: -44px;

    @media ($tablet-width) {
      bottom: -6px;
    }

    @media ($desktop-width) {
      display: none;
    }
  }
  /* white circles */
  & .flickity-page-dots .dot {
    width: 6px;
    height: 6px;
    margin: 0 9px;
    opacity: 1;
    background: #bec2c7;
    vertical-align: middle;

    &:hover {
      background-color: #868e97;
    }

    &:active {
      background-color: #e9ebec;
    }
  }
  /* fill-in selected dot */
  & .flickity-page-dots .dot.is-selected {
    border: 3px solid $color-text;
    background: white;
  }
  & .carousel-cell {
    height: auto; /* height of carousel */
  }

  & .carousel-cell--freejs{
    margin-bottom: 20px;

    @media ($tablet-width) {
      margin-bottom: 0;
    }
  }
  & .carousel-cell--freejs:last-child {
    margin-bottom: 0;
  }
}
