.review {
  margin: 0;
  text-align: center;

  @media ($tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media ($desktop-width) {
    min-height: 220px;
  }

  &__author {
    @mixin heading;
    margin-bottom: 19px;

    @media ($tablet-width) {
      font-size: 20px;
      order: 2;
      width: 100%;
      line-height: 40px;
    }

    @media ($desktop-width) {
      font-size: 24px;
    }

    & cite{
      font-style: normal;
    }
  }

  &__prof {
    display: none;

    @media ($tablet-width) {
      display: block;
      line-height: 40px;
      @mixin text;
    }
  }

  &__text {
    @mixin text;
    line-height: 2.15em;

    @media ($tablet-width) {
      line-height: 1.7em;
      margin-bottom: 29px;
      font-size: 18px;
    }

    @media ($desktop-width) {
      margin-bottom: 18px;
      line-height: 1.65em;
    }
  }

  &__text-hide{
    @media ($desktop-width) {
      display: none;
    }
  }
}

.carousel-cell {
  width: 100%; /* full width */
  height: 160px; /* height of carousel */
  margin-right: 10px;
}
