.social-link {
  font: 0/0 a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 3px solid $color-border;
  margin-right: 10px;

  &:hover {
    border-color: $color-text;
  }

  &:active {
    border-color: $color-text;
    opacity: 0.3;
  }

  &:last-child {
    margin-right: 0;
  }
}
