.textarea {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  border: 2px solid $border-color2;
  border-radius: 2px;
  padding: 15px 18px;
  font-family: "Open sans";
  resize: none;

  @media ($tablet-width) {
    height: 192px;
    padding: 14px 16px;
  }

  @media ($desktop-width) {
    width: 760px;
    height: 125px;
  }
}

textarea::-webkit-input-placeholder{
  @mixin form-text;
  line-height: 30px;
}
textarea::-moz-placeholder {
  @mixin form-text;
  opacity: 1;
  line-height: 30px;
}
