.upload-photo {
  background-color: $light-grey;
  margin: 0;
  padding: 20px;
  border: none;

  @media ($tablet-width) {
    padding: 56px 40px 30px;
    width: 620px;
    margin: 0 auto;
  }

  @media ($desktop-width) {
    padding: 56px 60px 56px 80px;
    width: 940px;
    box-sizing: border-box;
    margin-bottom: 40px;
  }

  &__wrap{

    @media ($tablet-width) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__image {
    background-color: #8092bb;
    display: block;
    width: 280px;
    height: 375px;
    margin: 0 auto 40px;

    @media ($tablet-width) {
      width: 300px;
      height: 400px;
      margin: 0;
    }
  }

  &__tools {
    margin-bottom: 69px;
    position: relative;

    @media ($tablet-width) {
      margin-bottom: 70px;
    }

    @media ($desktop-width) {
      margin-bottom: 147px;
    }
  }

  &__buttons {
    margin: 0 -20px;
    border-top: 2px solid #dddfe0;
    padding: 37px 20px 10px;
    display: flex;
    flex-direction: column;

    @media ($tablet-width) {
      margin: 0;
      padding: 0;
      border: none;
      width: 250px;
      text-align: center;
    }

    @media ($desktop-width) {
      flex-direction: row;
      justify-content: space-between;
      width: 400px;
    }
  }

  &__btn {
    margin: 0 auto;
    margin-bottom: 12px;
    min-width: 280px;

    @media ($tablet-width) {
      margin: 0;
      margin-bottom: 25px;
      min-width: 260px;
    }

    @media ($desktop-width) {
      padding: 15px 20px 18px;
      min-width: 180px;
      margin: 0;
    }
  }
}
